@import url(style.scss);

// ========================================================================================
[class*="__container"] {
  max-width: 1834px;
  margin: 0 auto;
  padding: 0 38px;
}

.page__apartments {
}
.offer__page {
}
.page__under-gallery {
}

// ========================================================================================
.apartments {
  padding-bottom: 87px;
}
.apartments__breadcrumbs {
  display: flex;
  align-items: center;
  max-width: 232px;
  column-gap: 5px;
  padding-top: 4px;
  padding-bottom: 22px;
}
.apartments__breadcrumbs .h6 {
  display: flex;
  align-items: center;
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16; // 14px
  color: var(--primary-color);
  column-gap: 5px;
}
.apartments__breadcrumbs .not-active {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16; // 14px
  color: var(--not-active);
}
.main-photo-block {
  position: relative;
  max-width: 100%;
  height: 768px;
  object-fit: cover;
  background: linear-gradient(
      0deg,
      rgba(39, 39, 39, 0.5),
      rgba(39, 39, 39, 0.5)
    ),
    url(img/CATEGORY/main-block/01.png) center center/cover no-repeat;
}
.apartments .h1 {
  position: absolute;
  bottom: 74px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "GilroyBold";
  font-size: 60px;
  line-height: 1.33; // 80px
  text-align: center;
  color: var(--primary-color);
  span {
    color: var(--secondary-color);
  }
}
@media (max-width: 768px) {
  .main-photo-block {
    height: 400px;
  }
  .apartments .h1 {
    font-size: 45px;
    bottom: 20px;
  }
}
@media (max-width: 490px) {
  .apartments {
    padding-bottom: 70px;
  }
  .main-photo-block {
    height: 200px;
  }
  .apartments .h1 {
    font-size: 27px;
    bottom: -10px;
  }
}
@media (max-width: 320px) {
  .apartments {
    padding-bottom: 50px;
  }
  .apartments .h1 {
    font-size: 20px;
    bottom: -10px;
  }
}

// ========================================================================================
.all_appartments .h2 {
  font-family: "GilroyBold";
  font-size: 48px;
  line-height: 1.33; // 80px
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 84px;
  padding-top: 36px;
}
.swiper-category {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}
.all_appartments .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 29px;
  padding: 0 30px;
  padding-bottom: 65px;
}
.all_appartments .swiper-slide_2 {
  transform: translate(10px);
}
.all_appartments
  .projects-swiper-pagination
  .swiper-horizontal
  > .all_appartments
  .swiper-pagination-bullets,
.all_appartments .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  height: 15px;
  max-width: 80px;
  left: 47%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 17px;
}
.all_appartments .swiper-pagination-bullet {
  background-color: var(--primary-color);
  width: 13px;
  height: 13px;
}
.all_appartments .swiper-pagination-bullet-active {
  background-color: var(--secondary-color);
}
.swiper-button-prev-category,
.swiper-button-next-category {
  top: 45%;
}
.swiper-button-next-category {
  right: var(--swiper-navigation-sides-offset, -0.5%) !important;
}
.swiper-button-prev-category {
  left: var(--swiper-navigation-sides-offset, -0.5%) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--secondary-color);
  font-size: 25px;
}
.swiper-slide_1 .category__item:nth-child(1),
.swiper-slide_2 .category__item:nth-child(1),
.swiper-slide_3 .category__item:nth-child(1) {
  border: 5px solid #fbc710;
}
.category__item-gr {
  position: relative;
}
.category__item-gr::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.6) 0.05%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}
.category-picture {
  max-width: 100%;
  height: 406px;
  object-fit: cover;
}
.category__item {
  position: relative;
  transition: all 0.3s ease 0s;
}
.category__item:hover {
  transform: scale(1.05);
}
.category__item-text-link-photo {
  position: absolute;
  bottom: 39px;
  right: 23px;
  color: var(--primary-color);
  z-index: 2;
}
.category__item-text-link-photo p {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.category__item_2 {
  max-width: 430px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 54px 31px 33px 30px;
}
.category__item-h5 {
  font-family: "GilroyBold";
  font-size: 48px;
  line-height: 0.54; // 26px
  color: var(--primary-color);
}
.category__item_2-h5 {
  font-family: "GilroyBold";
  padding: 0 0 70px 0;
  font-size: 48px;
  line-height: 0.54; // 26px
  color: var(--not-main-text-black-color);
}
.category__item_2-text {
  padding-bottom: 70px;
}
.category__item-text {
  position: absolute;
  left: 50%;
  bottom: 25%;
  font-family: "GilroyBold";
  font-size: 22px;
  line-height: 1.18; // 26px
  color: var(--primary-color);
  transform: translate(-50%, -50%);
  max-width: 365px;
  z-index: 2;
}
.category__item-text-link {
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5; // 24px
  color: var(--not-main-text-black-color);
  transition: all 0.3s ease 0s;
  align-self: self-end;
}
.category__item-text-link p {
  display: flex;
  align-items: center;
  column-gap: 17px;
}
.category__item-text-link .project-arrow-right {
  transition: all 0.3s ease 0s;
}
.category__item-text-link .project-arrow-right:hover {
  transform: scale(1.2);
}

@media (max-width: 1400px) {
  .category__item-h5 {
    font-size: 35px;
  }
  .category-picture {
    height: 356px;
  }
  .category__item_2-h5 {
    padding: 0 0 50px 0;
    font-size: 40px;
  }
  .category__item_2-text {
    padding-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  .all_appartments .swiper-slide {
    flex-wrap: wrap;
    row-gap: 29px;
  }
  .category__item_2 {
    max-width: 367px;
    max-height: 356px;
  }
}
@media (max-width: 768px) {
  .all_appartments .h2 {
    padding-top: 0;
    font-size: 35px;
    padding-bottom: 70px;
  }
  .category__item-h5 {
    font-size: 32px;
  }
  .category__item_2-h5 {
    font-size: 35px;
  }
  .category__item_2-text {
    font-size: 20px;
  }
  .category__item-text-link-photo {
    bottom: 25px;
  }
  .all_appartments
    .projects-swiper-pagination
    .swiper-horizontal
    > .all_appartments
    .swiper-pagination-bullets,
  .all_appartments .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 45%;
  }
}
@media (max-width: 490px) {
  .all_appartments .h2 {
    padding-bottom: 25px;
    font-size: 23px;
  }
  .category__item-h5 {
    font-size: 25px;
  }
  .category__item_2-h5 {
    font-size: 25px;
    padding-bottom: 15px;
  }
  .category__item_2-text {
    padding-bottom: 15px;
    font-size: 14px !important;
  }
  .category__item-text-link p {
    font-size: 10px;
    column-gap: 8px;
  }
  .category__item-text-link-photo {
    bottom: 15px;
  }
  .category-picture {
    height: 250px;
  }
  .category__item_2 {
    max-width: 246px;
    max-height: 250px;
    padding: 20px 20px 14px 20px;
  }
  .all_appartments .swiper-slide {
    padding: 0 15px;
    padding-bottom: 65px;
  }
  .all_appartments
    .projects-swiper-pagination
    .swiper-horizontal
    > .all_appartments
    .swiper-pagination-bullets,
  .all_appartments .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 40%;
  }
}
@media (max-width: 370px) {
  .all_appartments .swiper-slide {
    padding: 0 30px;
    padding-bottom: 65px;
  }
}
@media (max-width: 320px) {
  .all_appartments .h2 {
    font-size: 18px;
  }
  .all_appartments
    .projects-swiper-pagination
    .swiper-horizontal
    > .all_appartments
    .swiper-pagination-bullets,
  .all_appartments .swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 35%;
  }
}

// ========================================================================================
.offer {
  padding-top: 144px;
  padding-bottom: 138px;
}
.offer .h2 {
  font-family: "GilroyBold";
  font-size: 60px;
  line-height: 1.33; // 80px
  text-align: center;
  color: var(--primary-color);
  padding-bottom: 41px;
}
.offer__main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offer__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  padding: 0 40px;
}
.offer__item {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 426px;
}
.offer__photo img {
  width: 100%;
  max-height: 581px;
  object-fit: cover;
}
.offer__body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border: 1px solid var((--secondary-color));
  padding: 37px 109px 17px 36px;
  background: var(--not-main-text-black-color);
}
.offer-body-active {
  background-color: var(--secondary-color);
}
.offer-body-active .offer__type,
.offer .offer-body-active .h5-other,
.offer-body-active .offer__item_text,
.offer-body-active .offer__item-link {
  color: var(--not-main-text-black-color);
}
.offer__type {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62; // 26
  color: var(--primary-color);
  padding-bottom: 1px;
}
.offer .h5-other {
  font-family: "GilroyBold";
  font-size: 25px;
  line-height: 1.4; // 35px
  color: var(--primary-color);
  padding-bottom: 17px;
}
.offer__item_text {
  max-width: 280px;
  font-family: "GilroyRegular";
  font-size: 16px;
  line-height: 1.62; // 26px
  color: var(--not-active);
  padding-bottom: 33px;
}
.offer__item-link {
  display: flex;
  align-items: center;
  column-gap: 19px;
  font-family: "Work Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5; // 24px
  color: var(--primary-color);
  padding-bottom: 10px;
}
.offer__pagination {
  padding-top: 40px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}
.offer__pagination p:nth-child(5) {
  color: var(--not-active);
}
.offer__number {
  font-family: "GilroyRegular";
  font-size: 14px;
  line-height: 1.21; // 17px
  color: var(--primary-color);
}
.offer__number-active {
  padding: 10px 17px;
  background-color: var(--secondary-color);
}

@media (max-width: 1742px) {
  .offer__body {
    padding: 27px 36px 27px 36px;
  }
}
@media (max-width: 1450px) {
  .offer__items {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }
  .offer__body {
    padding: 40px 30px;
  }
  .offer .h5-other {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .offer__type {
    font-size: 14px;
  }
  .offer__item_text {
    font-size: 15px;
    padding-bottom: 20px;
  }
  .offer__items .offer__item:nth-child(12),
  .offer__items .offer__item:nth-child(11),
  .offer__items .offer__item:nth-child(10) {
    display: none;
  }
}
@media (max-width: 998px) {
  .offer__items {
    padding: 0 20px;
  }
  .offer__body {
    padding: 20px 15px;
  }
  .offer .h5-other {
    font-size: 18px;
  }
  .offer__item_text {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .offer__item-link {
    font-size: 14px;
    column-gap: 14px;
  }
}
@media (max-width: 821px) {
  .offer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .offer .h2 {
    font-size: 40px;
  }
  .offer__items {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 0 20px;
  }
  .offer__body {
    padding: 35px 15px;
  }
  .offer__item_text {
    max-width: 80%;
  }
  .offer__items .offer__item:nth-child(9),
  .offer__items .offer__item:nth-child(8),
  .offer__items .offer__item:nth-child(7) {
    display: none;
  }
}
@media (max-width: 662px) {
  .offer__body {
    padding: 15px;
  }
  .offer__item {
    max-width: 250px;
  }
  .offer__photo img {
    max-width: 250px;
    max-height: 581px;
    object-fit: cover;
  }
  .offer__item_text {
    font-size: 13px;
    padding-bottom: 40px;
  }
}
@media (max-width: 459.98px) {
  .offer__items {
    grid-template-columns: repeat(1, 1fr);
  }
  .offer__item_text {
    padding-bottom: 20px;
  }
  .offer__pagination {
    column-gap: 14px;
  }
  .offer__number-active {
    padding: 6px 12px;
    background-color: var(--secondary-color);
  }
}

// ========================================================================================
.under-gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.under-gallery__body {
  max-width: 878px;
  margin: auto;
}
.under-gallery .h2 {
  font-size: 60px;
  line-height: 0.58; // 35px
}
.under-gallery .h2:not(:last-child),
.under-gallery .h5-other:not(:last-child) {
  padding-bottom: 50px;
}
.under-gallery-text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62; // 26px
  color: var(--not-active);
}
.under-gallery__container .under-gallery-text {
  padding-bottom: 80px;
}
.under-gallery__container .under-gallery-text:last-child {
  padding-bottom: 161px;
}

@media (max-width: 768px) {
  .under-gallery__container .under-gallery-text {
    padding-bottom: 70px;
  }
  .under-gallery__container .under-gallery-text:last-child {
    padding-bottom: 70px;
  }
}

@media (max-width: 460px) {
  .under-gallery .h2:not(:last-child),
  .under-gallery .h5-other:not(:last-child) {
    padding-bottom: 30px;
  }
  .under-gallery .h2 {
    font-size: 40px;
  }
  .under-gallery-text {
    font-size: 14px;
  }
  .under-gallery__container .under-gallery-text {
    padding-bottom: 50px;
  }
  .under-gallery__container .under-gallery-text:last-child {
    padding-bottom: 70px;
  }
}
@media (max-width: 320px) {
  .under-gallery__container .under-gallery-text:last-child {
    padding-bottom: 50px;
  }
}
